<launch>
  <arg name="use_tls" default="false" />
  <arg name="mode" default="default" />
  <group ns="$(arg mode)">
    <node name="mqtt_bridge" pkg="mqtt_bridge" type="mqtt_bridge_node.py" output="screen">
      <rosparam command="load" file="$(find mqtt_bridge)/config/mqtt_bridge_$(arg mode).yaml" />
      <rosparam if="$(arg use_tls)" command="load" ns="mqtt" file="$(find mqtt_bridge)/config/tls_params.yaml" />
    </node>
  </group>
</launch>
